body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: rgb(240,240,240);
    //box-shadow: 0 -200px 400px rgba(0,0,0,.1) inset;
}

header {
    padding: 10px 0 0 0;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    img {
        height: 60px;
        margin-left: calc(50% - 100px);
    }
    nav {
        background: rgb(245,245,245);
        margin-top: 20px;
        padding: 0;
        z-index: 1;
        text-align:center;
        > div {
            padding: 0 0 20px 0;
            div {
                text-align: left;
            }
        }
    }
}

.magazineContent {
    padding-top: 180px;
    @media only screen and (max-width: 600px) {
        padding-top: 210px;
    }
    max-width: 1000px;
    margin: 10px auto;
    z-index: 1;
    position: relative;
    .magCard {
        display: inline-block;
        background-size: cover;
        position: relative;

        image {
            width: 100%;
        }

        width: calc(20% - 20px);
        @media only screen and (max-width: 1000px) {
            width: calc(25% - 20px);
        }
        @media only screen and (max-width: 800px) {
            width: calc(33% - 20px);
        }
        @media only screen and (max-width: 600px) {
            width: calc(50% - 20px);
        }
        margin: 10px;
        .magprice {
            position: absolute;
            top: -20px;
            right: 10px;
            color: white;
            font-size: 30px;
            text-shadow: 0 1px 1px black;

        }
    }

    .MagListing {
        float: left;
        /*
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        */
        width: 300px;


        .magItem {
            cursor: pointer;
            background-color: rgb(230,230,230);
            margin: 5px;
            padding: 5px 5px 5px 80px;
            transition: 1s all;
            background-size: 70px auto;
            background-repeat: no-repeat;
            p {
                padding: 0;
                margin: 2px;
                &.magdate {
                    text-transform: uppercase;
                    color: #aaaaaa;
                    font-size: 90%;
                }
                &.magprice {
                    float: right;
                    font-size: 24px;
                    color: #aaaaaa;
                }
            }
            &:hover {
                background-color: rgb(240,240,240);
                box-shadow: 0 5px 5px rgba(0,0,0, .25);
            }


        }
    }
    .MagEdit {
        padding: 40px;
        margin-left: 300px;


    }
}

.publisher1 {
    background-image: url('/images/logo-life.jpg');
}
.publisher2 {
    background-image: url('/images/logo-womens.jpg');
}
.publisher3 {
    background-image: url('/images/logo-playboy.jpg');
}

.MagDatePicker {
    + div {
        margin-top: 150px;
    }
}

