//Breakpoint Declarations
    
$large:  "(max-width: 1079px)";   // smaller than 1080px
$small:  "(max-width: 839px)";    // smaller than 840px
$xsmall: "(max-width: 599px)";    // smaller than 600px

$baseMargin: 5px;

$primaryIconColor: #1565C0;
$secondaryIconColor: #919191;

$controlColor: #279ed5;

$maxTrailerHeight : 600px;